@import url("https://use.typekit.net/jgu7jrm.css");

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: "prometo", sans-serif;
    font-size: 10px;
}

.clear {
    clear: both;
    line-height: 0px;
    height: 0px;
    font-size: 0px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #f02e1c
}

a:hover {
    text-decoration: underline
}

img {
    border: none
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

*:focus {
    outline: none;
}

input[type="submit"] {
    -webkit-appearance: none;
    border: none;
    cursor: pointer
}

input::-webkit-input-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #aaaaaa;
}

input:-moz-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #aaaaaa;
}

input::-moz-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #aaaaaa;
}

input:-ms-input-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #aaaaaa;
}

textarea::-webkit-input-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #aaaaaa;
}

textarea:-moz-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #aaaaaa;
}

textarea::-moz-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #aaaaaa;
}

textarea:-ms-input-placeholder {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #aaaaaa;
}

select {
}

/**/
.header_area {
    border-radius: 0 0 120px 0;
    -moz-border-radius: 0 0 120px 0;
    -webkit-border-radius: 0 0 120px 0;
    -o-border-radius: 0 0 120px 0;
    background-image: -ms-linear-gradient(left, #EFEFEF 0%, #E4E4E4 100%);
    background-image: -moz-linear-gradient(left, #EFEFEF 0%, #E4E4E4 100%);
    background-image: -o-linear-gradient(left, #EFEFEF 0%, #E4E4E4 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #EFEFEF), color-stop(100, #E4E4E4));
    background-image: -webkit-linear-gradient(left, #EFEFEF 0%, #E4E4E4 100%);
    background-image: linear-gradient(to right, #EFEFEF 0%, #E4E4E4 100%);
    z-index: 0;
}

.top_header_wide {
    background: #d7d7d7;
    margin: 0;
    padding: 0;
    width: 100%
}

.top_header {
    margin: 0 auto;
    padding: 15px 0 15px;
    max-width: 1560px;
}

.top_header p {
    text-align: right;
    margin: 0;
    padding: 0;
    color: #9b9b9b;
    font-size: 20.36px;
    line-height: 24px;
    font-weight: 400
}

.top_header p a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #666666
}

header {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1560px;
}

.logo {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 393px;
}

.logo img {
    max-width: 100%;
    height: auto
}

.sign_boxes {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 435px !important;
    min-height: calc(100vh - 256px);
    box-sizing: border-box;
}

#sign_tabs {
    margin: 0;
    padding: 0
}

#sign_tabs ul {
    margin: 0;
    padding: 0;
    display: flex
}

#sign_tabs ul li {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 50%;
}

#sign_tabs ul li a {
    background: #34454e;
    line-height: 62px;
    text-transform: uppercase;
    font-size: 21.35px;
    color: #ffffff;
    display: block;
    font-weight: 700
}

#sign_tabs ul li a:hover, #sign_tabs ul li.ui-tabs-active a {
    text-decoration: none;
    background: #5c7a7e;
}

.sign_tab_content {
    padding: 21px 42px 25px;
    margin: 0;
    background: #e2e4e5;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
}

.sign_tab_content h3 {
    margin: 0 0 20px;
    padding: 0 0 20px;
    color: #3e4549;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    background: url(../images/sign-form-h3-bg.png) repeat-x right bottom;
    background-size: 51px 9px;
}

#sign_tabs form {
    margin: 0;
    padding: 0
}

#sign_tabs form label {
    color: #aaaaaa;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0 0 4px 10px;
    font-weight: 400;
    display: block
}

#sign_tabs form input, #forgotten_password input {
    background: #ffffff;
    margin: 0 0 10px;
    padding: 0 15px;
    border: none;
    box-sizing: border-box;
    color: #aaaaaa;
    font-size: 21.35px;
    height: 41px;
    line-height: 41px;
    font-family: "prometo", sans-serif;
    font-weight: 400;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    width: 100%
}

#sign_tabs form p, #sign_tabs form p a {
    color: #aaaaaa;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0 0 10px 10px;
    font-weight: 400;
}

#sign_tabs form p a {
    padding: 0
}

#sign_tabs form button {
    background: #5c7a7e;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 21.35px;
    line-height: 59px;
    cursor: pointer;
    font-weight: 700;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    text-transform: uppercase;
    transition: border-radius 0.2s ease;
    width: 100%;
    max-width: 180px;
    float: right;
    font-family: "prometo", sans-serif;
}

#forgotten_password button, #change_password_form button, #continue_to_app_form button {
    background: #5c7a7e;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 21.35px;
    line-height: 59px;
    cursor: pointer;
    font-weight: 700;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    text-transform: uppercase;
    transition: border-radius 0.2s ease;
    width: 100%;
    max-width: 250px !important;
    float: right;
    font-family: "prometo", sans-serif;
}

#sign_tabs form button:hover, #forgotten_password button:hover {
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
}

.sign_form {
    background: #fff;
    margin: 0 0 11px;
    padding: 0;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
}

#sign_tabs .sign_form input, #forgotten_password input {
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    background: none;
    border-bottom: dashed 1px #5c7a7e;
    margin: 0
}

#sign_tabs .sign_form input:last-of-type, #forgotten_password input:last-of-type {
    border-bottom: none;
}

.footer_wide {
    background: #375c64;
    margin: 0;
    padding: 0;
    width: 100%
}

footer {
    margin: 0 auto;
    padding: 5px 0;
    max-width: 1560px;
    font-size: 0;
    line-height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer a, footer p {
    color: #d0d0d0;
    font-size: 20.36px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

footer a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-decoration: none;
}

footer a.go img {
    display: inline-block;
    margin: 0 13px -4px 0;
}

footer p {
    font-weight: 400;
    text-align: center
}

footer .logout {
}

.banner_wide {
    margin: 0;
    padding: 0;
    background: url(../images/banner-wide-bg.png) no-repeat bottom center;
    background-size: cover;
}

.banner {
    margin: 0 auto;
    padding: 0;
    max-width: 1560px;
}

.banner_left {
    width: auto;
    max-width: 556px;
    margin: 0;
    padding: 40px 40px 40px 0;
    position: relative
}

.banner_left:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -48px;
    left: -2500px;
    z-index: 0;
    border-bottom-right-radius: 80px;
    background: #477479;
    background: -moz-linear-gradient(left, #477479 0%, #477479 53%, #2a4953 100%);
    background: -webkit-linear-gradient(left, #477479 0%, #477479 53%, #2a4953 100%);
    background: linear-gradient(to right, #4b7b7f 0%, #4b7b7f 75%, #2a4953 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#477479', endColorstr='#2a4953', GradientType=1);
}

.banner_inner {
    position: relative
}

.banner h5 {
    color: #26444e;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    padding: 0 0 10px;
    font-weight: 700
}

.banner h1 {
    color: #ffffff;
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 42px;
    padding: 0 0 35px;
    font-weight: 700;
    background: url(../images/banner-wide-h1-bg.png) repeat-x right bottom;
    background-size: 51px 9px
}

.rounded {
    display: block;
    font-size: 21px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 50px;
    width: 100%;
    max-width: 295px;
    font-weight: 700;
    border: solid 1px #ffffff;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    text-align: center
}

.section {
    margin: 8px 0;
    padding: 0;
    width: 100%;
    background: #c9d1d5;
    position: relative;
}

.content {
    margin: 0 auto;
    padding: 30px 0 45px;
    max-width: 1560px;
}

.content.search_steps {
}

.content.search_steps .button {
    max-width: 19%;
    float: right;
    display: none;
}

.search_steps_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
}

.search_step {
    margin: 0;
    padding: 0;
    width: 19%;
    opacity: 0.5;
    position: relative;
}

.search_step::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.search_step.active {
    opacity: 1;
}

.search_step.active::after {
    display: none;
}

.step_no {
    display: block;
    width: 62px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    color: #f7f7f7;
    font-size: 28.17px;
    font-weight: 700;
    background: #27434e;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
}

.search_step ul {
    margin: 0;
    padding: 15px 0 45px
}

.search_step ul li {
    font-size: 21.35px;
    margin: 0;
    font-weight: 700;
}

.search_step ul li.title_zone {
    color: #ffffff;
    line-height: 45px;
    text-transform: uppercase;
    background: #4b7b7f;
    padding: 0 25px;
}

.search_step li input[type=radio] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.search_step li input[type="radio"] + span {
    padding: 7px 25px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    background: #fff;
    line-height: 24px;
    display: block;
    border-top: dashed 1px #497c7f;
    border-bottom: dashed 1px #497c7f;
    margin-bottom: -1px;
}

.search_step li:last-of-type input[type="radio"] + span {
    border-bottom: solid 1px rgba(225, 124, 48, 0);
}

.search_step li:nth-of-type(2) input[type="radio"] + span {
    border-top: solid 1px rgba(225, 124, 48, 0);
}

.search_step li:last-of-type input[type="radio"] + span {
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
}

.search_step li input[type="radio"]:checked + span {
    background: #ff8226;
    color: #fff;
    border-color: #ff8226;
    position: relative;
}

.blue_popup {
    margin: 0 auto;
    padding: 0;
    max-width: 780px;
    display: none;
}

.blue_popup_title {
    background: #27434e;
    padding: 19px 40px 10px;
    margin: 0
}

.blue_popup h3 {
    color: #ffffff;
    font-size: 32px;
    line-height: 34px;
    margin: 0;
    padding: 0 0 0 75px;
    text-transform: uppercase;
    font-weight: 700;
    background: url(../images/blue_popup-h3-bg.png) no-repeat left center;
    background-size: 54px 53px;
}

.blue_popup h3 span {
    display: block;
    color: #ffffff;
    font-size: 21.35px;
    line-height: 24px;
    padding: 0;
    text-transform: none
}

.blue_popup ul {
    margin: 0;
    padding: 0
}

.blue_popup ul li {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 27px;
    font-weight: 700
}

.blue_popup ul li input[type=radio] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.blue_popup ul li input[type="radio"] + span {
    padding: 0 35px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    background: #27434e;
    line-height: 56px;
    display: block;
    border-top: dashed 1px #ffffff;
    border-bottom: dashed 1px #fff;
    margin-bottom: -1px;
}

.blue_popup ul li:first-of-type input[type="radio"] + span {
    border-top: solid 1px rgba(225, 124, 48, 0);
}

.blue_popup ul li:last-of-type input[type="radio"] + span {
    border-bottom: solid 1px rgba(225, 124, 48, 0);
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px
}

.blue_popup ul li input[type="radio"]:checked + span {
    background: #345c66;
}

.button {
    background: #005476;
    border: none;
    cursor: pointer;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 21.35px;
    line-height: 59px;
    cursor: pointer;
    font-weight: 700;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
    text-transform: uppercase;
    transition: border-radius 0.2s ease;
    width: 100%;
    display: block;
    font-family: "prometo", sans-serif;
}

.button:hover {
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    text-decoration: none;
}

.content.search_steps .button {
    max-width: 19%;
    float: right
}

.content.search_steps .button:disabled {
    background: #00415d;
}

.content.prod_search {
    padding-top: 165px;
    padding-bottom: 25px;
    position: relative;
}

.search_results {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 540px;
    z-index: 9
}

.blue_side {
    margin: 0;
    padding: 0;
    background-image: -ms-linear-gradient(left, #577378 0%, #384A53 100%);
    background-image: -moz-linear-gradient(left, #577378 0%, #384A53 100%);
    background-image: -o-linear-gradient(left, #577378 0%, #384A53 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #577378), color-stop(100, #384A53));
    background-image: -webkit-linear-gradient(left, #577378 0%, #384A53 100%);
    background-image: linear-gradient(to right, #577378 0%, #384A53 100%);
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    position: relative;
}

.blue_side:before {
    content: "";
    margin: 0;
    padding: 0;
    display: inline-block;
    background: #587277;
    position: absolute;
    left: 0;
    top: 0;
    width: 2000px;
    height: 100%;
    left: -2000px;
}

.blue_side_inside {
    margin: 0;
    padding: 30px 0 24px
}

.blue_side h1 {
    color: #ffffff;
    font-size: 43px;
    line-height: 48px;
    margin: 0;
    padding: 0;
    font-weight: 700
}

.blue_side p {
    color: #ffffff;
    font-size: 21px;
    line-height: 31px;
    margin: 0;
    padding: 0;
    font-weight: 700
}

.results_list {
    background: #e2e4e5;
    margin: 0;
    padding: 23px 25px 26px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    max-width: 340px;
    box-sizing: border-box;
}

.content.prod_search h2 {
    color: #34454e;
    font-size: 36px;
    line-height: 37px;
    margin: 0 0 6px;
    padding: 0 0 12px;
    font-weight: 700;
    border-bottom: dashed 2px #4a5961
}

.content.prod_search ul {
    margin: 0;
    padding: 0 0 16px;
}

.content.prod_search ul li {
    margin: 0;
    padding: 0;
    color: #34454e;
    font-size: 21px;
    line-height: 37px;
    font-weight: 400
}

.content.prod_search .button {
    height: 41px;
    line-height: 41px;
    max-width: 185px;
    font-size: 14.92px;
    background: #4a7a7e
}

.image_area {
    margin: 0;
    padding: 0;
    position: relative;
}

.image_area img {
    max-width: 100%;
    height: auto;
}

.pop_trigger {
    display: block;
    margin: 0;
    padding: 0;
    min-width: 115px;
    text-decoration: none;
    position: absolute;
    z-index: 9
}

.pop_trigger:hover {
    text-decoration: none;
    z-index: 10;
}

.pop_trigger span {
    transition: border-radius 0.2s ease;
}

.prod_descr {
    display: block;
    margin: 0;
    padding: 0 18px;
    background: #fff;
    text-align: left;
    color: #e98132;
    font-size: 12.32px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
}

.plus_sign {
    display: block;
    margin: 0;
    padding: 0;
    width: 62px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 49px;
    background: #e98132;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
}

.pop_trigger:hover span {
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
}

.pop_trigger:hover .prod_descr {
    color: #015476;
    opacity: 1
}

.pop_trigger:hover .plus_sign {
    background: #015476
}

.popup_image_wrap .pop_trigger .prod_descr, .popup_image_wrap .pop_trigger.orange_trigger:hover .prod_descr {
    color: #015476;
}

.popup_image_wrap .pop_trigger.orange_trigger .plus_sign {
    background: #fd8224;
}

.popup_image_wrap .pop_trigger .plus_sign, .popup_image_wrap .pop_trigger.orange_trigger:hover .plus_sign {
    background: #015476;
}

.image_buttons {
    margin: -70px 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    width: 100%;
    position: relative;
    z-index: 9;
    max-width: 600px;
}

.image_buttons .button {
    height: 47px;
    line-height: 47px;
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
}

.image_buttons .button.pdf {
    max-width: 230px;
    background: #005476
}

.image_buttons .button.pdf:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    padding: 0;
    background: url(../images/button-pdf-before.png) no-repeat 0 0;
    background-size: 19px 23px;
    width: 19px;
    height: 23px;
}

.image_buttons .button.specs {
    background: #27434e;
    max-width: 300px;
}

.image_buttons .button.specs:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    padding: 0;
    background: url(../images/button-specs-before.png) no-repeat 0 0;
    background-size: 27px 30px;
    width: 27px;
    height: 30px;
}

.facts_box {
    margin: 0;
    padding: 0;
    max-width: 340px;
    position: absolute;
    right: 0;
    bottom: 25px;
    z-index: 9
}

.facts {
    background: #27434e;
    margin: 0 0 15px;
    padding: 23px 25px 11px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
}

.content.prod_search .facts h2 {
    color: #fff;
    border-color: #fff;
    padding: 0 0 10px;
    margin: 0 0 10px;
}

.content.prod_search .facts ul {
    padding: 0
}

.content.prod_search .facts ul li {
    color: #fff;
    line-height: 21px;;
    font-size: 18px;
    padding: 0 0 19px
}

.content.prod_search .facts_box .button {
    background: #fff;
    color: #34454e
}

.content.prod_search .facts_box .button:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: -3px 10px 0 0;
    padding: 0;
    background: url(../images/button-play-before.png) no-repeat 0 0;
    background-size: 18px 19px;
    width: 18px;
    height: 19px;
}

/*popups*/
.white_box {
    background: #e3e4e6;
    margin: 0;
    padding: 0;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    max-width: 1376px;
    margin: 0 auto;
    box-sizing: border-box;
    border: solid 9px #fff;
    position: relative;
    width: 100%
}

.white_box.clearfix.sign_boxes {
    min-height: auto;
}

.mfp-close, .back {
    display: block;
    position: absolute;
    left: -9px;
    top: -9px;
    color: #fff;
    font-size: 48px;
    line-height: 85px;
    height: 85px;
    width: 85px;
    text-align: center;
    background: #34454e;
    border: none;
    transition: border-radius 0.2s ease;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    z-index: 99;
    font-family: "prometo", sans-serif;
    font-weight: bold;
}

.mfp-close:hover, .play-pause:hover, .back:hover {
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
}

.video_wrap {
    position: relative;
    margin: 0;
    padding: 56% 0 0;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden
}

.video-player {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
}

.play-pause {
    display: block;
    width: 215px;
    height: 215px;
    position: absolute;
    background: url(../images/play-movie-btn.jpg) no-repeat center center #fff;
    background-size: 96px 109px;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: border-radius 0.2s ease;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.popup_details {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80px;
    left: 80px;
}

.popup_details_box {
    background: #fff;
    margin: 0 0 15px;
    padding: 12px 20px 12px 20px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
    max-width: 380px;
}

.popup_details_box h3 {
    color: #005674;
    font-size: 23px;
    line-height: 33px;
    margin: 0;
    padding: 0;
    font-weight: 700
}

.quick_facts {
    border-top: dashed 2px #34454e;
    margin: 7px 0 0;
    padding: 0 0 18px
}

.quick_facts h6 {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 12px 0 0 0;
    font-weight: 700
}

.quick_facts p {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 4px;
    font-weight: 400
}

.white_box .button.play_mv {
    background: #26424d;
    height: 59px;
    line-height: 59px;
    font-size: 21.35px;
    max-width: 245px;
}

.white_box .button.play_mv:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: -3px 10px 0 0;
    padding: 0;
    background: url(../images/button-popup_details-play-before.png) no-repeat 0 0;
    background-size: 18px 19px;
    width: 18px;
    height: 19px;
}

.popup_image_wrap {
    margin: 0;
    padding: 60px 0 0 0;
    float: right;
    max-width: 1163px;
    position: relative;
}

.popup_image_wrap img {
    max-width: 100%;
    height: auto
}

.popup_image_wrap .pop_trigger .prod_descr {
    color: #015476
}

.popup_image_wrap .pop_trigger .plus_sign {
    background: #015476
}

.popup_image_wrap .pop_trigger:hover .prod_descr {
    color: #fd8224
}

.popup_image_wrap .pop_trigger:hover .plus_sign {
    background: #fd8224
}

.popup_details_box.orange h3 {
    color: #ff8225;
}

.popup_details_box.orange .quick_facts {
    border-color: #ff8225
}

.option_span {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 15px;
    padding: 0 45px 0 20px;
    color: #ffffff;
    line-height: 39px;
    height: 39px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
    font-size: 14.16px;
    background: #e98132;
    font-weight: bold;
}

.variations .option_span {
    background: #34454e
}

.popup_image_wrap_variation {
    float: right;
    margin: 0;
    padding: 0;
    text-align: left;
    width: calc(100% - 540px);
}

.popup_image_wrap_variation img {
    max-width: 100%;
    height: auto
}

.variations ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0
}

.variations ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
    padding: 5px 15px 0;
    border: solid 5px #ffffff;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
    line-height: normal;
    cursor: pointer;
    box-sizing: border-box;
    max-width: calc(20% - 20px);
}

.variations ul li:last-of-type {
    margin-right: 0
}

.variations ul li img {
    max-width: 100%;
    height: auto
}

.white_box.smaller_image {
    padding: 80px 0 40px 80px;
}

.white_box.smaller_image .popup_details {
    position: static;
    float: left;
    max-width: 540px;
}

.back {
    background: url(../images/back-btn.png) no-repeat center center #ffffff;
    background-size: 34px 38px;
    z-index: 99
}

.white_box.smaller_image .button.play_mv {
    position: absolute;
    right: 50px;
    bottom: 50px
}

.white_box {
    display: none
}

.rsNav.rsTabs {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0
}

.rsNavItem {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
    padding: 5px 15px 0;
    border: solid 5px #ffffff;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
    line-height: normal;
    cursor: pointer;
    box-sizing: border-box;
    max-width: calc(20% - 10px);
}

.rsNavItem:last-of-type {
    margin-right: 0
}

.rsNavItem.rsNavSelected {
    border-color: #a9a8a8
}

.rsNavItem img {
    max-width: 100%;
    height: auto
}

/*responsive*/
@media all and (max-width: 1600px) {
    .top_header, header, footer, .sign_boxes, .content, .blue_side_inside {
        padding-left: 20px !important;
        padding-right: 20px !important
    }

    .facts_box {
        right: 20px;
    }

    .banner_wide {
        background-size: cover;
    }

    .banner_left {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media all and (max-width: 1350px) {
    .content.prod_search {
        padding-top: 0
    }

    .image_buttons {
        margin-top: -40px;
    }

    .search_results, .facts_box {
        position: static;
    }

    .search_results {
        margin-bottom: 30px;
        max-width: 100%
    }

    .results_list {
        max-width: 96%
    }

    .facts_box {
        margin-top: 30px;
        max-width: 100%
    }

    .white_box {
        max-width: 98%
    }

    .white_box.smaller_image .popup_details {
        float: none;
        max-width: 100%;
    }

    /**/
    .popup_details {
        position: static
    }

    .popup_details {
        padding: 30px 80px 0
    }

    .popup_details_box {
        max-width: 100%
    }

    .white_box.smaller_image {
        padding: 0
    }

    .popup_image_wrap_variation {
        float: none;
        margin: 30px 0 0 0;
        text-align: center;
        width: 100%;
    }
}

@media all and (max-width: 1200px) {
    .search_step li input[type="radio"] + span, .search_step ul li.title_zone {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 19px;
    }

    .content.search_steps .button {
        font-size: 19px;
    }

    .banner_left {
        max-width: 454px;
    }

    .banner h1 {
        font-size: 33px;
        line-height: 42px;
    }
}

@media all and (max-width: 960px) {
    .content.prod_search {
        padding-top: 0
    }

    .image_buttons {
        margin-top: 0
    }

    .search_results, .facts_box {
        position: static;
    }

    .search_results {
        margin-bottom: 30px;
    }

    .facts_box {
        margin-top: 30px;
    }

    .banner_left { width: 100% }

    .search_steps_wrap {
        display: block;
        font-size: 0;
        line-height: 0
    }

    .search_step {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        margin-right: 2%
    }

    .search_steps_wrap .search_step:nth-of-type(2n) {
        margin-right: 0
    }

    .content.search_steps .button {
        max-width: 50%
    }

    @media all and (max-width: 767px) {
        footer {
            display: block;
            text-align: center;
        }

        footer p {
            padding: 10px 0
        }

        .banner_left { max-width: 100%; box-sizing: border-box}
        .banner_left:before {right: 0;left: -600px}

        /**/
        .content.prod_search {
            padding-left: 0 !important;
            padding-right: 0 !important
        }

        .search_results {
            max-width: 100%
        }

        .blue_popup {
            max-width: 90%
        }

        .blue_popup_title, .blue_popup ul li input[type="radio"] + span {
            padding-left: 20px;
            padding-right: 20px;
        }

        .blue_popup h3 {
            font-size: 25px;
            line-height: 29px;
        }

        .blue_popup ul li {
            font-size: 23px;
        }

        .blue_side_inside, .image_buttons, .facts_box {
            padding-left: 20px;
            padding-right: 20px;
            box-sizing: border-box;
        }

        .blue_side h1 {
            font-size: 32px;
            line-height: 42px;
        }

        .blue_side p {
            font-size: 18px;
            line-height: 28px;
        }

        .content.prod_search h2 {
            font-size: 28px;
            line-height: 28px;
        }

        .content.prod_search ul li {
            font-size: 18px;
            line-height: 33px;
        }

        .results_list {
            max-width: 94%;
            padding-left: 20px;
            padding-right: 20px;
        }

        .facts {
            padding-left: 20px;
            padding-right: 20px;
        }

        .facts_box {
            max-width: 100%
        }

        .popup_details {
            padding: 40px 0 0 0
        }

        .white_box, .white_box.smaller_image {
            padding: 0 20px 20px;
            box-sizing: border-box;
        }

        .white_box.movie_wrap_box {
            padding: 0
        }

        .popup_image_wrap {
            padding: 0
        }

        .image_area {
            overflow: hidden;
        }

        .pop_trigger {
            min-width: 85px
        }

        .prod_descr {
            display: none;
        }

        .plus_sign, .popup_image_wrap .pop_trigger .plus_sign {
            width: 45px;
            height: 46px;
            line-height: 25px;
            font-size: 38px;
            text-align: left;
            background: none !important;
            color: #e98132
        }

        .pop_trigger:hover .plus_sign, .popup_image_wrap .pop_trigger:hover .plus_sign {
            background: none;
            color: #015476
        }

        .content.prod_search .button {
            max-width: 100% !important;
        }

        .image_buttons .button.pdf {
            margin-bottom: 20px;
        }

        .play-pause {
            width: 100px;
            height: 100px;
            background-size: 41px 49px;
        }

        .mfp-close, .back {
            line-height: 65px;
            height: 65px;
            width: 65px;
        }

        .variations ul li {
            margin: 0 3% 0 0;
            padding: 5px 15px 0;
            max-width: 31%;
            box-sizing: border-box;
        }

        .popup_details {
            margin-bottom: 30px;
        }

        .white_box .button.play_mv {
            height: 51px;
            line-height: 51px;
            font-size: 18px;
            max-width: 100%
        }

        .white_box.smaller_image .button.play_mv {
            position: static
        }
    }

    @media all and (max-width: 500px) {
        .header_area {
            border-radius: 0 0 50px 0;
            -moz-border-radius: 0 0 50px 0;
            -webkit-border-radius: 0 0 50px 0;
            -o-border-radius: 0 0 50px 0;
        }

        .top_header p {
            float: none;
            text-align: center;
        }

        .top_header p span {
            display: none;
        }

        header {
            padding-top: 23px;
            padding-bottom: 15px;
        }

        footer a, footer p {
            font-size: 18px;
            line-height: 21px;
        }

        /**/
        #sign_tabs ul li a {
            font-size: 18px;
        }

        .sign_tab_content {
            padding-left: 21px;
            padding-right: 22px;
        }

        .sign_tab_content h3 {
            font-size: 25px;
            line-height: 33px;
        }

        #sign_tabs form button {
            font-size: 18px;
            line-height: 44px;
            max-width: 100%;
            float: none;
        }

        /**/
        .banner h1 {
            margin-bottom: 25px;
        }

        .banner h5 {
            font-size: 25px;
            line-height: 27px;
        }

        .rounded {
            font-size: 18px;
        }

        .search_step {
            width: 100%;
            display: inline-block;
            vertical-align: top;
            margin-right: 0
        }

        .content.search_steps .button {
            max-width: 100%
        }

        .blue_popup_title {
            border-bottom: dashed 1px #ffffff
        }

        .blue_popup h3 {
            background: none;
            padding-left: 0px;
            font-size: 21px;
            line-height: 27px;
        }

        .blue_popup ul li {
            font-size: 20px;
        }

        .blue_popup h3 span {
            font-size: 18px;
        }

        /**/
        .play-pause {
            width: 50px;
            height: 50px;
            background-size: 22px 25px
        }

        .white_box, .white_box.smaller_image {
            padding: 0 20px 20px;
            box-sizing: border-box;
        }

        .mfp-close, .back {
            line-height: 40px;
            height: 40px;
            width: 40px;
            font-size: 35px;
        }

        .back {
            background-size: 14px 16px;
        }

        .pop_trigger {
            min-width: inherit
        }

        .popup_details {
            padding-left: 0px;
            padding-right: 0px;
        }

        .popup_details_box h3 {
            line-height: 28px;
        }

        .popup_image_wrap {
            padding: 0;
        }

        .white_box .button.play_mv {
            font-size: 15px;
        }

        .popup_image_wrap_variation {
            padding: 0 20px;
            box-sizing: border-box;
        }

        .white_box.movie_wrap_box {
            padding: 0
        }
    }

}

#sign_tabs form p.error_message,
.error_message {
    color: darkred;
    font-weight: bold;
}

#sign_tabs form p.success_message, p.success_message {
    color: darkgreen;
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.find_button {
    display: none;
}

.sign_form.disabled {
    background: #f0f0f0;
}

#quick_facts {
    color: white !important;
}

#loading_box {
    max-width: 300px;
}

#loading_box h3 {
    text-align: center;
}